body {
    background-image: url("../images/cool-background.png");
    background-size: 100%; 
    
}

.buttons-view {
	margin: 20px 0px 20px 0px;
}

.gifDiv {
	margin-right: 10px;
	float: left;
	margin-bottom: 20px;
}

.topic {
	margin-right: 5px;
	margin-bottom: 5px;
    background-color: rgba(233, 13, 115, 0.2); 
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

#add-topic {
    background-color: rgba(233, 13, 115, 0.2); 
	color: black;
	margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#topic-input {
	width: 100%;
    margin-top: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}